body .content {
    font-family:'Courier New', Courier, monospace; 
}
.content h1 {
    text-align: center;
    margin: auto;
    
}
.content h2 {
    text-align: center;
    margin: auto;
}

.content #presence {
    text-align: center;
}

.content #presence h3 {
    margin-top: 0px;
}

#Courier {
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
}

#Arial {
    font-family: Arial, Helvetica, sans-serif;
}

#Times {
    font-family: 'Times New Roman', Times, serif;
}

.content #fontChange {
    margin: auto;
    text-align: center;
}

.content #Projects {
    margin: auto;
    padding-top: 15px;
    width: 50%
}

.content #Projects .projectCard {
    margin-top: 10px;
    padding: 10px;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.content #Projects .projectCard .projectTitle{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: 5px;
}

.content #Projects .projectCard .projectDescription{
    display: none;
}